[Unit]
Description=Terrarium temperature control daemon
After=syslog.target
StartLimitIntervalSec=10

[Service]
Type=simple
#ExecStart=/usr/sbin/terraControl-ds18b20.py
#ExecStart=/usr/sbin/terraControl-aht10.py
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=terraControl.service
