[Unit]
Description=TerraControl watchdog
After=syslog.target
StartLimitIntervalSec=10

[Service]
Type=simple
ExecStart=/usr/sbin/terraWatchdog.sh
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=terraWatchdog.service
